@import "tailwindcss";

:root {                       /* -- Tailwind -- */
  --white: #fdfdfd;        /* text-neutral-50 */
  --light-gray: #b5b5b5;   /* text-neutral-400 */
  --gray: #303030;         /* text-neutral-800 */  
  --dark-gray: #212121;    /* text-neutral-900 */
  --darker-gray: #181818;  /* text-neutral-950 */
}

body {
  margin: 0;
  background-color: var(--darker-gray);
}